
    @media only screen and (min-width: 992px) {
        .size1, .size2, .size3 {
          width: 28%;
        }
        body{
            background-color: aquamarine;
        }
    }
        @media only screen and (min-width: 768px)  and (max-width: 991px) {
            .size1, .size2 {
              width: 44%;
            }

            .size3{
                width: 93%;
            }
            body{
                background-color: burlywood;
            }
        }
            @media only screen and (max-width: 767px) {
                .size1, .size2, .size3 {
                  width: 100%;
                }
                body{
                    background-color: darkkhaki;
                }
  }
  div {
        
    width: 28%;
    padding: 0px;
    border: 2px solid rgb(0, 0, 0);
    margin: 0;
    float: left;
    margin: 1.5%;
    background-color: silver;
  }
  h1{
      text-align: center;
  }
  #chicken{
    font-family: Cambria, Cochin, Georgia;
    padding-right: 0px;
    padding-left: 3px;
      float: right;
      font-weight: bold;
      margin-top: 0px;
      margin-right: 0px;
      background-color: red;
      text-align: center;
      padding-bottom: 4px;
      padding-top: 4px;
      border-right-style: hidden;
      border-top-style: hidden;
  }
  #beef{
      font-family: Cambria, Cochin, Georgia;
    padding-right: 0px;
    padding-left: 3px;
    font-weight: bold;
      float: right;
      margin-top: 0px;
      margin-right: 0px;
      background-color: greenyellow;
      text-align: center;
      padding-bottom: 4px;
      padding-top: 4px;
      border-right-style: hidden;
      border-top-style: hidden;
      color: white;
  }
  h2{
      margin: 0%;
  }
  #mutton{
    font-family: Cambria, Cochin, Georgia;
    padding-right: 0px;
    padding-left: 3px;
    font-weight: bold;
      float: right;
      margin-top: 0px;
      margin-right: 0px;
      background-color:yellow;
      text-align: center;
      padding-bottom: 4px;
      padding-top: 4px;
      border-right-style: hidden;
      border-top-style: hidden;
  }
